modules = ["nodejs-20"]
[nix]
channel = "stable-25_05"
packages = ["unzip"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Azmi-Foundation && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["sh", "-c", "cd Azmi-Foundation && node dist/index.js"]
build = ["sh", "-c", "cd Azmi-Foundation && npm install && npm run build"]

[userenv]

[userenv.shared]
RAZORPAY_WEBHOOK_SECRET = "4d2038997bc7029b3b5335876c756bde3ae517f112c0ec56b9bd483a44e75078"
